{{- /* CSSのみタブ切替（JS不要）
     使い方:
     {{< css-tabs id="mytabs" tab1="総合" tab2="アタッカー" tab3="サポーター" >}}

     Markdown内でタブの内容を区切るには、以下のHTMLブロックを使う:
     <div class="css-tabs">
       <input type="radio" name="t1" id="t1-1" checked>
       <input type="radio" name="t1" id="t1-2">
       <div class="css-tabs-nav">
         <label for="t1-1">タブ1</label>
         <label for="t1-2">タブ2</label>
       </div>
       <div class="css-tabs-panel">内容1</div>
       <div class="css-tabs-panel">内容2</div>
     </div>
*/ -}}
{{- $id := .Get "id" | default "tabs" -}}
<div class="css-tabs">
  {{- range $i, $_ := seq 6 }}
    {{- $tab := $.Get (printf "tab%d" $i) }}
    {{- if $tab }}
  <input type="radio" name="{{ $id }}" id="{{ $id }}-{{ $i }}" {{ if eq $i 1 }}checked{{ end }}>
    {{- end }}
  {{- end }}
  <div class="css-tabs-nav">
    {{- range $i, $_ := seq 6 }}
      {{- $tab := $.Get (printf "tab%d" $i) }}
      {{- if $tab }}
    <label for="{{ $id }}-{{ $i }}">{{ $tab }}</label>
      {{- end }}
    {{- end }}
  </div>
  {{ .Inner | markdownify }}
</div>
